/* General Styles */
.university-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.university-logo {
    width: 150px;
    margin-right: 10px;
}

.lab-info {
    text-align: right;
}

.nav-tabs {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-link.active {
    background-color: orange;
    color: white;
}

.nav-tabs .nav-link {
    color: #000;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-tabs .nav-link:hover {
    color: #000; /* Keep the color unchanged */
}


.home-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 18px; /* Adjust the size as needed */
    line-height: 1.6; /* Improves readability */
}

/* Carousel Styles */
.carousel-item {
    height: 500px;
    background-color: #777;
    color: white;
    text-align: center;
}

.carousel-item img,
.carousel-item video {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    text-align: center;
}

.card {
    margin-bottom: 10px;
    border: none; /* Remove default border */
   /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */ /* Add a subtle shadow */
    width: 100%; /* Adjust the width as needed */
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    border-radius: 5px; /* Rounded corners for the image */
    height: 300px;
    object-fit: contain;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: #555; /* Lighter color for the text */
    text-align: center;
}

.publications-heading {
    font-size: 2rem;
}

.publications-text {
    font-size: 1rem;
}

.publication-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.publication-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.publication-authors {
    font-size: 0.875rem;
    color: #555;
}

.publication-journal {
    font-size: 0.875rem;
    color: #777;
}

.publication-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication-links .btn {
    font-size: 1rem; /* Increase font size for larger text */
    padding: 10px 20px; /* Increase padding for larger button size */
}

.publication-links .btn-lg {
    font-size: 1.25rem; /* Larger font size for larger buttons */
    padding: 10px 20px; /* Larger padding for buttons */
}

/* Citation Modal */
.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}

.citation-options {
    display: flex;
    justify-content: space-around;
}

.citation-options .btn {
    margin: 0 10px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}



#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    bottom: 20px; /* Place the button at the bottom */
    right: 20px; /* Place the button 20px from the right */
    z-index: 99; /* Make sure it does not overlap with other content */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: orange; /* background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #555; /* Darker background on hover */
}



